env/

venv/
ENV/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# SQLite
*.db

# Ignore secrets
secrets.json

# pytest
.pytest_cache/
.coverage


.MERGE_MSG.swp